---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
eleventyComputed:
  title: "{{ tag }} popořadě"
  metaDescription: "All posts from the Blog tagged with “{{ tag }}”"
---

<h1>{{ tag }} popořadě</h1>

{% set postlist = collections[tag] or [] %}
{% include "components/postslist.njk" %}

<nav>
  <a href="{{ '/' | url }}">← Všechny příspěvky</a>
</nav>
