---
layout: layouts/base.njk
title: "Z Cesty"
eleventyComputed:
  metaDescription: "Všechny články z blogu"
---

<h1>Všechny články</h1>

{% set postlist = collections.post | reverse %}
{% include "components/postslist.njk" %}

<nav>
  <a href="/">← Zpět na úvod</a>
</nav>